html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
    
}
#container {
    height:100%;
}
*{
    box-sizing:border-box;
    margin:0%;
    padding:0;

}
body {
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: -.2px;
    font-size: 14px;
    color: #212121;
    line-height: 1.4;
    background-color: whitesmoke;
}
.header{
    position:fixed;
    display:flex;
    width:100%;
    height: 53px;
    background-color: #2874f0;
    color: #f0f0f0;
    flex-direction:row;
    z-index: 10;
    margin: top -4%;
}
.header .header-main {
    display:flex;
    max-width:1248px;
    width:100%;
    height:100%;
    margin:0 auto;
}
.header.start {
    height: 100%;
    min-width: 124px;
}
.header .flipkart {
    justify-content: flex-end;
    /* min-width:137px; */
    display:flex;
    width:38%;
}
.filp-content{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-top:3%;
}
.flip-content .flip-img {
    width:33%;
}
.flip-content a img {
    text-decoration: none;
    color:inherit;
    border:none;
    outline: none;
    width: 5%;
    /* margin-top: 1%; */
}
.flip-img {
    display: block;

}
.flip-explor {
    font-size: 11px;
    font-style: italic;
    /* margin-top: -1px */
    color:white;
    text-decoration:none;
}
.flip-explor .flip-plus {
    color:#ffe500;
    font-weight:500;
    margin-right:2px;
}
.header .search-container {
    display: flex;
    justify-content: flex-start;
    height:100%;
    min-width:304px;
    width:calc(100%-540px);
    margin:0 auto 0 12px;
    align-items: center;
    margin-left: -9%;
    width:62%;
}
.search-inputbox {
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23);
    width: 100%;
    height: 36px;
    max-width: 564px;
    position: relative;
}
.search-products .inputs {
    border:none;
    width:100%;
}
.input-column {
    display:flex;
    justify-content: space-between;
    border-radius: 2px;
    background-color: #fff;
    width: 100%;
}
.search-inputbox .input-column .search-products {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    border: 0;
    outline: 0 none;
    font-size: 14px;
    height: 36px;
    width: 100%;
}
.search-inputbox .input-column .submit {
    border: 1px solid #fff;
    background-color: #fff;
    height: 36px;
    width: 44px;
    border-radius: 2px;
    cursor: pointer;
    padding: 4px 12px 0 8px;
    cursor:pointer;
}
.header .login {
    align-items: center;
    min-width: 112px;
    flex: 0 0 auto;
    margin: 0 20px;
    max-width: 150px;
    align-content: center;
    justify-content: flex-end;
}
.login1 {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    line-height: 22px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
    user-select: none;
}
.log {
    display: inline-block;
    position: relative;
}
.box {
    cursor: pointer;
}
.log-link {
    color: #2874f0;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
    text-decoration: none;
}
.log-link a {
    text-decoration: none;
    outline: none;
}
.header .more {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex:0 0 auto;
    margin: 0 20px;
    max-width: 150px;
}
.more1 {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    line-height: 22px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
    justify-content: space-between;
}
.more2 {
    display: inline-block;
    position: relative;
}
.more-link {
    font-size: 18px;
}
.box2 {
    cursor: pointer;
}
.box2 .more-link {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 108px;
    display: block;
}
._2gTTdy {
    fill:#fff;
    opacity:.8;
    width:8%;
}
.more1 svg {
    width:11%;
}
.header .cart {
    flex: 0 0 auto;
    margin: 0 20px;
    max-width: 150px;
    align-content: center;
    justify-content: flex-end;
    display: flex;
}
.cart1 {
    display: inline-block;
    position: relative;
}
.cart2 {
    display: flex;
    height: 100%;
    width: 100%;

}
.cart-link {
    align-items: center;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
    position: relative;
    display: flex;
}
.cart svg {
    width:16px;
    height:16px;
    margin:0 8px;
}
.cart-link .id{
    fill:#fff;
} 
.header .end {
    height: 100%;
    min-width: 124px;
}
.end1 {
    position: fixed;
    top: 53px;
    height: 3px;
    background-color: #2874f0;
    box-shadow: 0 2px 2.5px 0 rgba(0,0,0,.3);
    width: 100%;
    z-index: 6;
}
 /* .next-tab {
    position: relative;
    min-height: 40px;
    color: #000;
    width: 100%;
    z-index: 6;
    display: flex;
    flex-direction: column;
    

}
.next {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
    background-color: green;

    
} 
.tab-2{
    background-color: #fff;
   
}  
.next-tab-3 {
    display: flex;
    align-items: center;
    max-width: 1248px;
    justify-content: space-between;
    height: 40px;
    margin: auto;
    position: relative;
    background-color:green;
}
.items {
 flex-grow: 1; 
    justify-content: center;
    font-weight: 500;
    height:100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.items svg {
    margin-left: 8px;
    transform: rotate(270deg);
    color:black;
}
.itme a {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}   */
/* div {
    width:100%;
    margin-top: 100pxssss;
} */
.top-bar{
    width:100%;
    margin-top:20%;
}
ul {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
}
.nav-bar li {
    color:black;
    font-weight: bold;
    font-size: 14px;
    padding:0px 25px;
    margin-left:2%;
    margin-top: 1.5%;
}
.items {
    font-weight: bold;
    color: #212121;
    /* font-size: 16px; */
}
.nav-bar li a {
    text-decoration: none;
    font-size: 14px;
}
.nav-bar li :hover {
    color:#2874f0;
    cursor: pointer;
}
.main-block {
    display: flex;
    flex-flow: row;
    margin-top: 1%;
    margin-left: .5%;
}
.block-1 {
    display:flex;
    flex-flow:column;
    flex: 0 0 307px;
    padding: 0px 10px 0px 0px;
    width: 100%;
}
.block-1a {
    background: #fff;
    box-shadow:0 1px 8px 0 rgba(0,0,0,.06);
    position:relative;
    margin-top:3%;
    margin-left: 3%;
}
.block-1a .AAA{
    padding-bottom: 12px;
}
.block-1a .BBB{
    padding: 26px;
    border-bottom: 1px solid #f0f0f0
}
.block-1a .BBB .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;
    font-size: 25px;
}
.filter-text {
    font-weight: 500;
    letter-spacing: .3px;
    display: inline-block;
}
.BBB .p1{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 5px;
}
.BBB .p2 {
    padding: 5px 0;
    color: #212121;
    white-space: nowrap;
}
.BBB .p3{
    padding: 5px 0;
color: #212121;
white-space: nowrap;
}
.price-text {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.price-text2 {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
}
.space{
    height:25px;
}
.bar .bar1 {
    position: relative;
    height: 13px;
    cursor: pointer;
}
/* .bar2 {
    height: 100%;
    position: relative;
    bottom: -6px;
} */
.bar2 ._2TbXIJ {
    height: 13px;
    width: 21.5282px;
    background: #e0e0e0;
    display: inline-block;
}
.bar ._28DFQy {
    left:-13.5px;
}
.bar .HQL4QS {
    display: inline-block;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: -3.5px;
    transition: translate .5s ease-out;
}
.bar ._28DFQy ._3FdLqY {
    right: 0;
}
.bar ._3FdLqY {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #bababa;
    position: absolute;
    background-color: #fff;
    top: 3.5px;
}
.bar .WC_zGJ {
    right: -13.5px;
}
.bar .next {
    background-color: #c2c2c2;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 6px;
    width: 100%;
}
.bar .next1 {
    background-color: #2874f0;
    transform-origin: left center;
    top: 4px;
    height: 6px;
}
.min {
    color: #a3a3a3;
    font-size: 14px;
    margin: 5px -4px 0;
    display: flex;
    align-items: center;
    justify-content: stretch;
}
.min .min1 {
    display: inline-block;
    flex-grow: 2;
}
._2YxCDZ {
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 1px;
    /* appearance: none; */
    background: #fff;
    height: 24px;
    font-size: 14px;
    color: #212121;
    line-height: 1;
    padding: 0 5px;
    outline: none;
}
.min .min2 {
    display: inline-block;
    margin: 0 9px;
    font-size: 14px;
    color: #878787;
    line-height: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}
.min .min3 {
    display: inline-block;
    margin-left: 1.5px;
    flex-grow: 2;
}
.block-1a .assured {
    display: flex;
}
.assured-class {
    cursor: pointer;
    width: 100%;
    position: relative;
    display: block;
}
.assured-class .assured-input {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.assured-class .next2 ::before {
    position: absolute;
    content: "";
    left: 5px;
    top: 3px;
    width: 2px;
    height: 6px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    backface-visibility: hidden;
    display: none;
}
.assured-class .next2 {
    position: relative;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 1.4px solid #c2c2c2;
    border-radius: 1.5px;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}
.next3 {
    font-size: 14px;
    vertical-align: middle;
    padding-left: 11px;
    color: #212121;
    display: inline-block;
    width: calc(100% - 25px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    cursor: pointer;
}
.next4 a img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;

}
.Bv11UC {
    isplay: inline-block;
    position: relative;
}
.question {
    border-radius: 50%;
    background-color: #fff;
    color: #878787;
    font-weight: 500;
    width: 16px;
    height: 16px;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
    vertical-align: middle;
    margin: 0 2px 0 8px;
    cursor: pointer;
}
.next-block {
    position: relative;
}
.next-block-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.next-block-1 p {
    font-size: 16px;
    font-weight:500;
    text-transform:uppercase;
    letter-spacing:.3px;
    display:inline-block;
    width:95%;
    color:black;
}
svg {
    transform:rotate(90deg);
    display:inline-block;
    cursor:pointer;
    width:6px;
    height:11px;
    color:black;
}
.next-block-2 .next-block-2a {
    margin:7px;

}
.content {
    padding:3px;
    cursor:pointer;
}
.content1 {
    width:100%;
    display:inline-block;
}
.content-label {
    display:block;
    padding:3px;
    cursor: pointer;
    width:100%;
    position:relative;
}
.content-input{
    visibility:hidden;
    position:absolute;
    top:0;
    left:0;

}
.content-input1 ::before{
    position:absolute;
    content:"";
    left:5px;
    top: 3px;
    width: 2px;
    height:6px;
    border:solid #fff;
    border-width:0 2px 2px 0;
    transform:rotate(45deg);
    backface-visibility:hidden;
    display:none;

}
.content-input1 {
    position: relative;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 1.4px solid #c2c2c2;
    border-radius: 1.5px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.text-content{
    color:black;
    font-size:14px;
    padding-left:18px;
    display:inline-block;
    width:100%;
    line-height:1;
}
.brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
    /* margin:-16px;
    padding:16px; */
}
.brand1 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
}
.search-brand1 {
    margin: 7px 0;
}
.search-brand1 .search-brand2 {
    margin-bottom: 7px;
}
.search-brand2 svg {
    width: 12px;
    height: 20px;
    position: absolute;
}
.search-brand2 .brand-input {
    width: 100%;
    border-width:0 0 2px;
    border-color:#e0e0e0;
    height:20px;
    font-size:14px;
    padding: 0 0 0 21px;
    color: #878787;
    outline: none;
}
.bottom-text{
    font-size:12px;
    font-weight:500;
    color:#2874f0;
    text-transform: uppercase;
    cursor: pointer;
    margin-top:9px;
}
.customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
}
.customer1 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
}
.search-brand1 {
    margin: 7px 0;
}
.search-brand1 .search-brand2 {
    margin-bottom: 7px;
}
.line-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line-text1{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
}
.offer2 {
    margin:7px 0;
}
.bottom-class {
    display: block;
    width:100%;
    margin-left: 24%;
}
.bottom-class1 {
    text-align: center;
    padding-top: 30px;
    display: block;
    cursor: pointer;
}
.bottom-class a img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}
.bottom-class2 {
    color: #2874f0;
    line-height: 1;
    font-size: 18px;
    margin: 5px 0 20px;
}
