*{
    font-family: Verdana;
    margin:0;
}
body {
    background:#eee;
}
.wrapper {
    width:100%;
    max-width:960px;
    margin: auto;
}
.flex-container{
    display: flex;
    background: white;
    flex-wrap: wrap;  
}
.box{
    height: 100px;
    min-width: 100px;
    /* flex-basis: 500px; */
    flex: 1 0 200px;
}  
.one {
    background: rgb(136, 255, 0);
    /* flex-grow: 1; */
}
.two {
    background: rgb(114, 3, 218);
    /* flex-grow: 3; */
    
}
.three {
    background: rgb(241, 8, 152);
    /* flex-grow: 6; */
}   