body {
    background: #eee;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto
}
#blocks{
    display: flex;
    margin: 10px;
    justify-content:space-between;
}
#blocks div{
    flex: 0 0 100px;
    padding: 40px 0px;
    text-align: center;
    background: rgb(228, 37, 37);
}
.one{order: 2;}
.two{order: 3;}
.three{order: 0;}
.four{order: 1;}
