 p.error {
    color: blue; 
} 
 p.success { 
    color: #4ae20d; 
} 
 p.success.feedback { 
    color: #be061f; 
     border: 2px solid crimson; 
     margin: 2px; 
 } 
div#content {
    background-color: red;
    padding: 20px;
} 
div p {
    color: purple;
}   
div.error {
    color: magenta;
} 

a[href*="thenetmimja"] {
    background-color: brown;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a[href$=".com"] {
    background-color:green;
    color: white;
    text-decoration: none;
    font-weight: bold;
} 

div {
    color: lightsalmon;
    border: 1px solid green; 
    margin: 40px;
}
div p{
    border: inherit;
    margin: inherit;
}
p{
    color: orange;
}